{% extends 'base.html' %}

{% block content %}
	<div style="width: 100%; margin-left: 5%; margin-right: 5%">
	<style> 
		.mtd{
			color: whitesmoke;
		}
	</style>
	<br>
	<h2 class="text-dark">VERSION 1.0.0</h2>
 	<hr>
 	<h2 class="text-dark">CONTACT US</h2>
	<p class="text-dark" class="mtd">Pour toute question concernant ce site Web, contactez-nous aux adresses suivantes :</p>
	<p class="text-dark" class="mtd">Khalid TOUNOUSSI  : khalid.tounoussi@um5r.ac.ma</p>
	<p class="text-dark" class="mtd">Oussama Ouradini  : oussama.ouardini@um5r.ac.ma</p>

	<p  class="text-dark" class="mtd">Contact number : (<span style="color: #F44336;">+212</span>) 657450624</p>
 	<hr>
	<p class="text-dark" class="mtd">Merci de visiter notre site.</p>
</div>
{% endblock %}