{% extends 'base.html' %}
{%  load static %}
{% block content %}
<style>

    /*-- Workflow Section CSS --*/
#Workflow {
    padding: 70px 0px 80px;
    color: #343A40;
    background-color: whitesmoke;
}
#Workflow .work-process::after {
    content: "";
    position: absolute;
    background: #f1f3f5;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
#Workflow .work-process:hover::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}
#Workflow .work-process {
    background-color: #fff;
    padding: 40px 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 30px 0px -20px #ffffff;
    margin-bottom: 30px;
    border-bottom: 3px solid #607d8b;
    text-align: center;
}
#Workflow .work-process i {
    margin: 0 auto;
    display: table;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 70px;
}
#Workflow .work-process h3 {
    margin: 15px 0px;
}
#Workflow .work-process h3 a {
    font-size: 20px;
    color: #607d8b;
}
#Workflow .work-process p {
    color: #8d9ea7;
}


.step{
background: #0082E6;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 5px;
  text-align: center;
  width: 1.5em;
}
/*-- Workflow Section CSS --*/

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<!-- The loading image -->

<!-- Workflow Section -->
<section id="Workflow">
    <div class="container">
        <div class="row">
            <div style="margin: 0 auto;" class="loader" id="loader"></div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="section-title">
                    <h2 class="text-center">Les 3 étapes pour l'éxecution</h2>
                    <p class="text-center"><i>Ces étapes expliquent comment exécuter l'application.</i></p>
                </div>
                <hr class="border-white mb-4 mt-4">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="work-process">
                    <h3 class="step">1</h3>
                    <h3><a href="collecte" >Collecte de données</a></h3>
                    <p>Cette étape est pour générer des séquences( avg : 30 ) pour chaque mot, qui vont être réparties en frames </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-process">
                    <h3 class="step">2</h3>
                    <h3><a href="training">Entrainement de l'algorithme</a></h3>
                    <p>Aprés avoir collecter les données , c'est le moment pour entrainer le modèle pour faire des prédictions aprés.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-process">
                    <h3 class="step">3</h3>
                    <h3><a href="prediction">Prédiction</a></h3>
                    <p>Aprés avoir entrainer le modèle, on peut faire des prédictions en basant sur les gestes enregistrés par la caméra</p>
                </div>
            </div>

        </div>
        <div class="row">
            <button style="margin: 0 auto;" type="button" class="btn btn-primary btn-lg btn-radius">Suivant</button>

        </div>
    </div>
</section>
<script src="{% static 'jquery-3.4.1.slim.min.js' %}"></script>

<script>
        console.log( "window ON LOAD" );
        $('#loader').show();

        // Function for adding User data and removing loading animation
    var replace_data = function(){
        console.log( "we will hide the loader")
        $('#loader').hide();
    }


    // AJAX call when page has loaded
    $(document).ready(function(){
        currLoc = window.location.href.replace('http://localhost:8000','');
        console.log(currLoc )

        replace_data();
    });



</script>
<!-- Workflow Section -->
{% endblock %}